table{
    border-style:solid;
}
th, td{
    border-style:solid;
}

td.column1 {
	font-style: italic;
}

div.outer-content{
	background-color:pink;
	height: 50px;
	width:75%;
	margin-top: 20px;
}

div.inner-content {
	
    vertical-align: middle;
    margin: 0 auto;
	background-color: blue;
	width: 75%;
}